h2 {
    margin: 0;
}

.menu-box {
    font-family: monospace;
    width: 950px;
    margin: 1rem auto;
    user-select: none;
    border: 2px solid #422006;
    border-radius: 5px;
}

.menu-title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 1rem;
    margin: 0;
    background-color: #fdba74;
}

.menu-title {
    display: inline-block;
    font-size: 1.2rem;
    font-weight: bold;
    color: #422006;
}

.menu-title-arrow {
    width: 15px;
    height: 10px;
    transition-duration: 300ms;
    transform: rotate(180deg);
}

.menu-content {
    background-color: #ffe9d2;
    padding: 1rem;
    border-radius: 0 0 5px 5px;
}

.menu-content-option h3 {
    font-size: 1.2rem;
    margin: 0 0 0.2rem 0;
}

.menu-content-option div {
    display: flex;
    gap: 1rem;
}

.menu-content-option:nth-child(n+2) {
    margin-top: 1rem;
}

.menu-action-button {
    text-decoration: none;
    color: #422006;
    font-size: 1rem;
    border: 2px solid #422006;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    box-sizing: border-box;
    display: inline-block;
    background-color: white;
    transition-duration: 300ms;
    cursor: pointer;
}

.menu-action-button:hover {
    background-color: #fdba74;
}

.menu-box.hidden .menu-content {
    display: none;
}

.menu-box.hidden .menu-title-arrow {
    transform: rotate(0deg);
}

.menu-box.hidden .menu-title-container {
    border-bottom: none;
}

.menu-form {
    width: 500px;
    margin: 0 auto;
}

.menu-form-input-box {
    margin-bottom: 0.5rem;
}

.menu-form-input-box label {
    font-size: 0.9rem;
    font-weight: bold;
}

.menu-form-input-box input[type=text], .menu-form-input-box input[type=email], .menu-form-input-box input[type=tel],
.menu-form-input-box input[type=password], .menu-form-input-box input[type=date], .menu-form-input-box input[type=time],
.menu-form-input-box input[type=number], .menu-form-input-box select {
    width: 100%;
    box-sizing: border-box;
    padding: 0.5rem;
    font-size: 1rem;
    background: #fff5ed;
    color: #422006;
    border: 2px solid #422006;
    border-radius: 5px;
    font-weight: normal;
}

.menu-form-input-box span {
    font-weight: normal;
    font-size: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
}


.checkbox-label-group {
    cursor: pointer;
    text-transform: capitalize;
}