body {
    /* background: url('fundo.gif') repeat-x; */
    font-family: 'Courier New', Courier, monospace;
}

#img {
    border: 2px solid #5c635c;
    background-color: #a6b0aa;
    margin: 20px;
    float: right;
}

li#logout {
    float: right;
    margin-left: 40px;
}



#registo-box {
    background-color: #7c7c7c83;
    width: 380px;
    height: 640px;
    margin: 70px auto 0px;
    overflow: hidden;
    box-shadow: 0px 0px 5px #6F6666;
}

#registo-box-func {
    background-color: #f5f5f5;; ;;
    width: 380px;
    height: 530px;
    margin: 0 auto;
    overflow: hidden;
}

#editar-dados-box {
    background-color: #7c7c7c83;
    width: 380px;
    height: 600px;
    margin: 50px auto 60px;
    overflow: hidden;
    box-shadow: 0px 0px 5px #6F6666;
}

#autenticacao h4{
    background-color: #7c7c7c83;
    width: 380px;
    height: 60px;
    margin: 200px auto 0px;
    overflow: hidden;
    box-shadow: 0px 0px 5px #6F6666;
    text-align: center;
    font: bold 20px/50px sans-serif;
    color: white;
}

.input-div {
    margin: 20px;
    font: bold 14px sans-serif;
    color: #000000;
}

.input-div input {
    width: 325px;
    height: 35px;
    padding-left: 7px;
    font: normal 13px sans-serif;
    color: black;
}

#input-form {
    margin-top: 10px;
}

#marcacoes input[type=submit] {
    width: 300px;
    background-color: #2c2c2c;
    padding: 10px 50px;
    font: bold 13px sans-serif;
    color: white;
    box-shadow: 2px 2px 5px #6F6666;
    cursor: pointer;
    border: 0px;
    display: block;
    margin: auto auto;
}

#acoes {
    width: 400px;
    margin: 25px;
}

#acoes input[type="submit"] {
    display: block;
    margin-top: 10px;
}

#registo a {
    float: left;
    margin-top: 10px;
}

#volta a {
    float: left;
    margin-top:0px;
}



#container-registar{
    margin-bottom: 100px;
}


/* CLEAN UP STYLES */
* {
    box-sizing: border-box;
}

a {
    text-decoration: none !important;
    color: black;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

.navbar {
    padding: 1rem 0;
    border-bottom: 1px solid #404040;
}

.navbar div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 900px;
    margin: 0 auto;
    gap: 1rem;
    align-items: center;
}

.navbar h1 {
    display: block;
    user-select: none;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 1.5rem;
}

.navbar a {
    text-decoration: none;
    color: #231f20;
    padding-top: 0.25rem;
    font-size: 1.2rem;
}

.navbar a:hover {
    border-top: 5px solid #FC0;
}

.navbar a.active {
    border-top: 5px solid #F90;
}

footer {
    background-color: #7c7c7c83;
    text-align: center;
    margin: 4rem auto 0.1rem auto;
    border-radius: 7px;
    padding: 0.10rem;
    width: 900px;
}

.logo {
    height: 50px;
    width: 50px;
    float: left;
    display: block;
}

.warning-box {
    display: block;
    padding: 1rem;
    border-radius: 7px;
    margin: 0px auto;
    
    text-align: center;
    font-weight: bold;
    width: 380px;
}

.warning-box.error {
    border: 2px solid #f05a5a;
    background-color: #ff8b8b;
    color: rgb(55, 0, 0);
}

.login-box {
    background-color: rgb(255, 246, 209);
    width: 380px;
    margin: 2.5rem auto 0px;
    box-shadow: 0px 0px 5px #6F6666;
    border-radius: 5px;
    padding-bottom: 1rem;
}

.login-head {
    background-color: #FC0;
    margin-bottom: 1.5rem;
    text-align: center;
    font: bold 1.5rem sans-serif;
    padding: 1rem 0px;
    border-radius: 5px 5px 0px 0px;
}

.login-btn {
    display: block;
    margin: 0 auto;
    background-color: #F90;
    padding: 0.75rem 5rem;
    border-radius: 7px;
    font: bold 13px sans-serif;
    color: black;
    font-weight: bold;
    cursor: pointer;
    border: 0px;
    transition-duration: 300ms;
}

.login-btn:hover {
    background-color: rgb(255, 102, 0);
}

.register-btn {
    display: block;
    margin: 0px auto;
    background-color: #F90;
    padding: 0.75rem 3rem;
    border-radius: 7px;
    font: bold 13px sans-serif;
    color: black;
    font-weight: bold;
    cursor: pointer;
    border: 0px;
    transition-duration: 300ms;
}

.login-back-href {
    font-weight: bold;
}

.login-back-href:hover {
    color: rgb(54, 54, 230) !important;
}

.login-back-href:visited {
    color: black;
}